#title {
  font-size: 80px;
}
main {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 15px;
  background-color: #233237;
}

#game-list-to-show,
#game-info {
  margin-top: 20px;
}

* {
  border-radius: 3px;
}
header {
  display: flex;
  justify-content: flex-start;
  background-color: #233237;
}

#banner {
  background-image: url("./video-game-1332694_1920.png");
  background-size: cover;
  background-position: center;
  height: 170px;
}
#title {
  color: white;
  text-align: center;
  display: inline-flex;
}

body {
  background-color: #233237;
}

html {
  background-color: #233237;
}
